<!DOCTYPE html>
<html>
<head>
  <title>Fluency</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<h1>Video Responses
</h1>

 </br>

<iframe src="//player.vimeo.com/video/38347438?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="350" height="197" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/38347438">Daniel Woods - Hueco - 76 V-Points</a> from <a href="http://vimeo.com/louderthan11">Louder Than Eleven</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

</body>